CODING/App_WebReferences/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1064/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1064/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1064/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Image" />
      <xsd:import schemaLocation="http://localhost:1064/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_register_cs_InputMessage">
    <wsdl:part name="parameters" element="tns:register_cs" />
  </wsdl:message>
  <wsdl:message name="IService1_register_cs_OutputMessage">
    <wsdl:part name="parameters" element="tns:register_csResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_cs_InputMessage">
    <wsdl:part name="parameters" element="tns:login_cs" />
  </wsdl:message>
  <wsdl:message name="IService1_login_cs_OutputMessage">
    <wsdl:part name="parameters" element="tns:login_csResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_textupload_cs_InputMessage">
    <wsdl:part name="parameters" element="tns:textupload_cs" />
  </wsdl:message>
  <wsdl:message name="IService1_textupload_cs_OutputMessage">
    <wsdl:part name="parameters" element="tns:textupload_csResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_datalistview_cs_InputMessage">
    <wsdl:part name="parameters" element="tns:datalistview_cs" />
  </wsdl:message>
  <wsdl:message name="IService1_datalistview_cs_OutputMessage">
    <wsdl:part name="parameters" element="tns:datalistview_csResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="register_cs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/register_cs" message="tns:IService1_register_cs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/register_csResponse" message="tns:IService1_register_cs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login_cs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login_cs" message="tns:IService1_login_cs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/login_csResponse" message="tns:IService1_login_cs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="textupload_cs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/textupload_cs" message="tns:IService1_textupload_cs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/textupload_csResponse" message="tns:IService1_textupload_cs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="datalistview_cs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/datalistview_cs" message="tns:IService1_datalistview_cs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/datalistview_csResponse" message="tns:IService1_datalistview_cs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="register_cs">
      <soap:operation soapAction="http://tempuri.org/IService1/register_cs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login_cs">
      <soap:operation soapAction="http://tempuri.org/IService1/login_cs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="textupload_cs">
      <soap:operation soapAction="http://tempuri.org/IService1/textupload_cs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datalistview_cs">
      <soap:operation soapAction="http://tempuri.org/IService1/datalistview_cs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1064/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>